header{
   position: absolute;
   width: 100% ;
   left: 0;
   top: 0;
   z-index: 50;
   @media (max-width:$md2) {
      position: fixed;
      backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
   }
   .header__container{
      display:flex;
      justify-content: space-between;
      align-items: center;
      height: 117px;
      @media (max-width:$md3){
         height: 60px;
         .header__logo img{
         width: 90px;
         height: 100%;
         }
      }
      .header__menu{
         display:flex;
         justify-content: space-between;
         align-items: center;
         .menu__list{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 117px;
            .menu__item{
               
               .menu__link{
               color: #FFF;
               }
               font-family: Didot, sans-serif;
               font-size: 24px;
               font-weight: 400;
               margin: 0px 60px 0px 60px;
            }
         }
         .header__basket{
            margin: 0px 0px 0px 50px;
            i{
               font-size: 40px;
               color:white
            }
         }
      }
   }
   .burger-menu{
      position: fixed;
      top: 0;
      left: -110%;
      width: 100vw;
      height: 100vh;
      background-color: rgb(37, 37, 37);
      transition: all .4s ease; 
      opacity: .95;
      .menu-burger{
         width: 100%;
         height: 100%;
         display:flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         
         .burger-item{
            margin: 0px 0px 30px 0px;
            a{
               font-size: 30px;
            }
         }
      }
   }
   ._active{
      left: 0;
   }
}
body.mouse{
   .menu__link{
      &:hover{
         opacity: .6;
         transition: all .3s ease;
      }
   }
   .header__basket{
      i{
         cursor: pointer;
         &:hover{
            opacity: .6;
            transition: all .3s ease;
         }
      }
   }
}

.burger{
   display: none;
   position: relative;
   width: 35px;
   height: 24px;
   cursor: pointer;
   z-index: 100;
   .burger-line{
      position: absolute;
      left: 0;
      height: 3px; width: 100%;
      transition: all .3s linear;
      border-radius: 2px;
   }
   .burger-line__first{
      top: 0;
   }
   .burger-line__second, .burger-line__third{
      top: 50%;
   }
   .burger-line__fourth{
      top: 100%;
   }
}
.burger_active{
   .burger-line__first{
      opacity: 0;
   }
   .burger-line__second{
      transform: rotate(45deg);
   }
   .burger-line__third{
      transform: rotate(-45deg);
   }
   .burger-line__fourth{
      opacity: 0;
   }
}

@media (max-width:$md2){
   .burger{
      display: block;
   }
   .menu__list li{
      display: none;
   }

   .header__basket{
      display: none;
   }
}