
body.mouse{
   .promo__section{
      background-attachment: fixed;
   }
}
.promo__section{
   width: 100%;
   min-height: 847px;
   background-image: url(../images/main-background.png);
   background-repeat: no-repeat;
   background-size: cover;
   @media (min-width:$md1){
      background-position: 30% 60%;
   }
   .promo__body{
      @media (max-width:$md3){

         padding: 700px 0px 100px 0px;
      }
      max-width: 734px;
      padding: 700px 0px 100px 0px;
      .promo__header{
         position: relative;
         .link{
            cursor: pointer;
            position: absolute;
            top:-100px;
            left: 0;
            .link__name{
               color: #FFF;
               font-family: Didot, sans-serif;
               font-size: 26px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               margin: 0px 0px 10px 0px;
               transition: all .3s ease;
               @media (min-width:$md2) {
                  &:hover{
                     opacity: .6;
                  }
               }
            }
            .link__icon{
               width: 268px;
               position: relative;
               height: 2px;
               background-color: #FFF;
               
               .link__icon2{
                  position: relative;
                  top: 0;
                  left: 0;
                  width: 268px;
                  height: 2px;
                  background-color: #FFF;
                  transition: all .5s ease-in-out;
               }
               @media (min-width:$md2) {
                     .link_active{
                        left: 30%;
                     }
                  }
                     .link__icon2::after{
                        position: absolute;
                        transform: rotate(-45deg);
                        top: 3px;
                        left: 260px;
                        content: "";
                        display: block;
                        height: 2px;
                        background-color: #FFF;
                        width: 10px;
                        border-radius: 2px;
                     }
                     .link__icon2::before{
                        position: absolute;
                        transform: rotate(45deg);
                        top: -3px;
                        left: 260px;
                        content: "";
                        display: block;
                        height: 2px;
                        width: 10px;
                        background-color: #FFF;
                        border-radius: 2px;
                     }
               }
            }
         }
      }
   }
//------------------------------------------------------------------О бренде-------------------------------------------------------------------//
.about-us__section{
   padding: 100px 0px 200px 0px;
   .about-us__container{
      .about-us__body{
         h2{
            margin: 0px 0px 70px 0px;
            @media (max-width: $md3) {
               margin: 0px 0px 40px 0px;
            }
         }
         .description{
            display:flex;
            justify-content: left;
            align-items: center;
            margin: 0px 0px 80px 0px;
            flex-wrap: wrap;
            @media (max-width:$md3) {
               margin: 0px 0px 40px 0px;
            }
            .description1{
               margin: 0px 100px 0px 0px;
               max-width: 400px;
               text-align:left;
               min-height: 240px;
               @media (max-width:$md3) {
                  margin: 0px 0px 30px 0px;
                  font-weight: bold
               }
            }
            .description2{
               max-width: 400px;
               text-align: left;
               min-height: 240px;
            }

         }
         .about-us__images{
            display:flex;
            justify-content: right;
            align-items: center;
            flex-wrap: wrap;
            transition: .3s all ease;
            .image1{
               margin: 0px 20px 0px 0px;
               width: 370px;
               height: 100%;
               border-radius: 20px;
               overflow: hidden;
               @media (max-width:$md2) {   
                  margin: 0px 0px 20px 0px;
               }
            }
            .image2{
               max-width: 470px;
               height: 100%;
               border-radius: 20px;
               overflow: hidden;
            }
         }
      }
   }
}
body.mouse{
   .image img{
      transform: scale(1);
      transition: all .3s ease;
   }
   .image img:hover{
      transform: scale(1.1);
      transition: all .3s ease;
   }
}
//---------------------------------------Collection section------------------------------------------//
.collection__section{
   .collection__container{
      .collection__description{
         max-width: 400px;
         margin: 0px 0px 64px 0px;
         @media (max-width:$md2) {
            margin: 0px 0px 24px 0px;
            
         }
      }
      h2{
         margin: 0px 0px 77px 0px;
         @media (max-width:$md2) {
            margin: 0px 0px 40px 0px;
            
         }
      }
      .collection__body{
         .collection__accordion{
            hr{
               height: 2px;
               color:#D0D0D0;
            }
            .accordion-item{
               position: relative;
               display:flex;
               justify-content: flex-start;
               min-height: 300px;
               padding: 25px 0px 25px 0px;
               .accordion-item__trigger{
                  position: absolute;
                  right: 0;
                  top: 25px;
                  width: 50px;
                  height: 50px;
                  cursor: pointer;
                  .trigger-line{
                     position: absolute;
                     top: 50%;
                     transform: translateY(-50%);
                     width: 50px;
                     height: 4px;
                     flex-shrink: 0;
                     background-color: #5F5F5F;
                     border-radius: 4px;
                     transition: .2s all ease;
                  }
                  .trigger_line1{
                     left: 0;
                  }
                  .trigger_line2{
                     left: 0;
                     transform: translateY(-50%) rotate(90deg);
                  }
                  .trigger_active{
                     left: 50%;
                     width: 0;
                  }
                  
               }
               .accordion-item__image{
                  width: 500px;
                  height: 250px;
                  overflow: hidden;
                  border-radius: 20px;
                  margin: 0px 20px 0px 0px;
                  transition: all .3s ease;
                  picture{
                     img{ 
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                        object-position: 50% 60%;
                     }
                  }
                  @media (max-width:480px) {
                     height: 160px !important;
                  }
               }
               .accordion-item__body{
                  display:flex;
                  justify-content: start;
                  flex-direction: column;
                  align-items: flex-start;
                  width: 500px;
                  height: 100%;
                  h3{
                     margin: 0px 0px 50px 0px;
                  }
                  .accrodion-item__content{
                     max-width: 500px;
                     height: 0;
                     overflow: hidden;
                     transition: all .3s ease;
                     line-height: 116.667%;
                     font-size: 20px;
                     @media (max-width:$md2) {
                        font-size: 18px;
                     }
                  }
                  .accordion-item__link{
                     position: relative;
                     cursor: pointer;
                     @media (min-width:$md1) {
                        .label_active{
                           opacity: .6;
                        }
                     }
                     
                     .link__label{
                        color: #000;
                        font-family: Didot, sans-serif;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin: 0px 0px 15px 0px;
                        transition: all .4s ease; 
                        @media (max-width:$md3) {
                           font-size: 22px;
                        }
                     }
                     .link{
                        width: 270px;
                        height: 2px;
                        background-color: black;
                        @media (min-width:$md1) {
                           .link_activ{
                              left: 30%;
                           }
                        }
                     }
                     .link1{
                        position: relative;
                     }
                     .link2{
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: black;
                        width: 270px;
                        height: 2px;
                        transition: all .3s ease-in;
                     }

                     .link2::after{
                        position: absolute;
                        transform: rotate(-45deg);
                        top: 3px;
                        left: 261px;
                        content: "";
                        display: block;
                        height: 2px;
                        background-color: #000;
                        width: 10px;
                        border-radius: 2px;
                     }   
                     .link2::before{
                        position: absolute;
                        transform: rotate(45deg);
                        top: -3px;
                        left: 261px;
                        content: "";
                        display: block;
                        height: 2px;
                        background-color: #000;
                        width: 10px;
                        border-radius: 2px;
                     }   
                  }
               }
            }
         }
      }
   }
}
@media (max-width:$md3) {
   .accordion-item{
      flex-wrap: wrap;
      padding: 100px 0px 14px 0px !important;
      h3{
         margin: 0px 0px 30px 0px !important;
      }
      .accordion-item__image{
         margin: 0px 0px 40px 0px !important;
      }
   }
}
//====================================================================NEW PROUCT SECTION===================================================//
.new-product__section{
   padding: 184px 0px 200px 0px;
   min-height: 601px;
   @media (max-width:$md3) {
      padding: 44px 0px 60px 0px !important;
   }
   .new-product__container{
      h2{
         margin: 0px 0px 77px 0px;
         @media (max-width:$md2) {
            margin: 0px 0px 40px 0px;
         }
      }
   }
}
.slider{
   .slider-container{
      .carousel{
         padding: 0px 50px 0px 50px;
         .carousel-item{
            display:flex;
            justify-content: center;
            .item-body{
               max-width: 300px;
               height: auto;
               @media (max-width:$md4) {
                  max-width: 212px !important;
               }
               .item-image{
                  width: 100%;  height: 350px;
                  overflow: hidden;
                  border-radius: 20px;
                  margin: 0px 0px 35px 0px;
                  img{
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                  }
                  @media (max-width:$md4) {
                     height: 232px !important;
                  }
               }

               .item__content{
                  width: 100%;
                  .item-name{
                     height: 60px;
                     color: #000;
                     font-size: 24px;
                     font-weight: 400;
                     line-height: 30px; /* 125% */
                     max-width: 270px;
                     @media (max-width:480px) {
                        height: 100px;
                     }
                  }
   
                  .item-price{
                     display:flex;
                     justify-content: space-between;
                     align-items: center;
                     .price{
                        color: #000;
                        font-family: Roboto;
                        font-size: 32px;
                        font-weight: 400;
                     }
                     .price-icon{
                        i{
                           color: black;
                           cursor: pointer;
                           font-size: 35px;
                           transform: all .3s ease;
                        }
                     }
                  }
               }

            }
         }
      }
   }
}
.slick-list{   //Ограничивающая оболочка
   overflow: hidden;
}
.slick-track{
   display: flex;
}
.carousel{
   position: relative;
   .slick-arrow{
   position: absolute;
   top: 35%;
   font-size: 0;
   width: 35px; height: 35px;
   border: solid 2px #5F5F5F;
   background: none;
   border-radius: 10px;
   z-index: 10;
   transition: .3s all ease;
   @media (max-width:$md4) {
      top: 25%;
   }
   }
   .slick-prev{
      left: 0;
   }
   .slick-next{
      right: 0;
   }
   .slick-prev::after{
      position: absolute;
      width: 10px;   height: 2px;
      display: block;
      content: "";
      position: absolute;
      top: 40%;
      left:50%;
      transform: translate(-50%) rotate(-45deg);
      background-color: #5F5F5F;
      border-radius: 1px;
   }
   .slick-prev::before{
      position: absolute;
      width: 10px;   height: 2px;
      display: block;
      content: "";
      position: absolute;
      top: 60%;
      left:50%;
      transform: translate(-50%) rotate(45deg);
      background-color: #5F5F5F;
      border-radius: 1px;
   }
   .slick-next::after{
      position: absolute;
      width: 10px;   height: 2px;
      display: block;
      content: "";
      position: absolute;
      top: 40%;
      left:50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      background-color: #5F5F5F;
      border-radius: 1px;
   }
   .slick-next::before{
      position: absolute;
      width: 10px;   height: 2px;
      display: block;
      content: "";
      position: absolute;
      top: 60%;
      left:50%;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      background-color: #5F5F5F;
      border-radius: 1px;
   }
}
body.mouse{
   .slick-arrow:hover {
      opacity: .6;
   }
   .price-icon{
      i:hover{
         opacity: .6;
      }
   }
}
// ==================================================FOOTER=================================================== //
footer{
   padding: 0px 0px 18px 0px;
   min-height: 160px;
   .footer__container{
      .footer__body{
         width: 100%;
         height: auto;
         display:flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         .footer__contacts{
            max-width: 270px;
            color: #000;
            font-family: Roboto;
            font-size: 22px;
            font-weight: 400;
            .footer__adress{
               margin: 0px 0px 30px 0px;
            }

            .footer__mail{
               margin: 0px 0px 30px 0px;
            }
         }

         .footer__links{
            display:flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .footer__link1{
               margin: 0px 70px 0px 0px;
               .link__item{
                  margin: 0px 0px 30px 0px;
                  display: flex;
                  align-items: center;
                  .link__icon{
                     i{
                        font-size: 35px;
                     }
                     margin: 0px 15px 0px 0px;
                  }
                  .link__content{
                     color: #000;
                     font-family: Roboto;
                     font-size: 22px;
                     font-weight: 400;
                  }
               }
            }

            .footer__link2{
               .link__item{
                  margin: 0px 0px 30px 0px;
                  display: flex;
                  align-items: center;
                  .link__icon{
                        i{
                           font-size: 35px;
                        }
                     margin: 0px 15px 0px 0px;
                  }
                  .link__content{
                     color: #000;
                     font-family: Roboto;
                     font-size: 22px;
                     font-weight: 400;
                  }
               }
            }
         }

      }
   }
}
// ================================================ МАГАЗИН ======================================================= //
.shop__collection{
   padding: 200px 0px 0px 0px;
   .shop-hyperlinks{
      a{
         color: #000;
         font-family: Roboto;
         font-size: 22px;
         font-weight: 400;
         @media (max-width:$md3) {
            font-size: 20px;
         }
      }
      margin: 0px 0px 40px 0px;
      @media (max-width:$md3) {
         margin: 0px 0px 30px 0px;
      }
      i{
         margin: 0px 10px 0px 10px;
         font-size: 20px;
      }
   }
}


