
.promo__section{
   width: 100%;
   min-height: 847px;
   background-image: url(../images/main-background.png);
   background-repeat: no-repeat;
   background-size: cover;
   .promo__container{
      
   }
}